<mat-card id="mat-card" *ngIf="pokemon$ | async as pokemon">
        <mat-grid-list cols="2" rowHeight="230px">
                <mat-grid-tile>
                        <mat-list>
                                <mat-list-item><img src="../../../assets/img/official-artwork/{{pokemon.id}}.png" alt="Avatar" height="150px"/></mat-list-item>
                                <mat-list-item id="pokemonId">No. {{pokemon.id | number:'3.'}}</mat-list-item>
                                <audio autoplay #audio>
                                        <source src="../../../assets/audio/{{pokemon.id}}.mp3" type="audio/mp3">
                                        <p>Votre navigateur ne prend pas en charge l'audio HTML</p>
                                </audio>
                        </mat-list>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-list>
                                <mat-list-item>
                                        {{pokemon.name}}<button mat-icon-button (click)="audio.play()"><i class="material-icons">play_arrow</i></button>
                                </mat-list-item>
                                <mat-list-item>
                                        <mat-chip-list>
                                                <mat-chip *ngFor="let type of pokemon.types">
                                                        {{type}}
                                                </mat-chip>
                                        </mat-chip-list>
                                </mat-list-item>
                                <mat-list-item>
                                        Taille: {{pokemon.height}} m
                                </mat-list-item>
                                <mat-list-item>
                                        Poids: {{pokemon.weight}} kg
                                </mat-list-item>
                        </mat-list>
                </mat-grid-tile>

        </mat-grid-list>
        {{pokemon.description}}
</mat-card>

